{% extends 'en-base.html' %}
{% block content %}
<div class="paikka">
<div class="row">
    <div class="span11 offset1">
        <h2 class="purple">Maptionnaire and participatory planning</h2>
    </div>
        <div class="span7 offset1">
        <div>
        <h3 class="orange">What do questionnaires have to do with participation?</h3>

        <p>
        From an urban planner’s point of view, participation is
        often driven by questions: you need to know what the
        locals know and think, and the best way to find out is to
        ask them.
        </p>
        <p style="padding-left:20px;">
            <i>Where are the most cherished places?
            Where is a connection needed?
            Which areas need renovation?
            Where do people feel unsafe?... </i>
        </p>

        </div><div>
        <h3 class="orange">Why not only face to face?</h3>
        <p>
        <ul>
            <li>Bringing residents together at workshops is time
            consuming and expensive, and only a handful of people
            get to have their say.</li>
            <li>In contrast, online tools allow the participation of
            thousands of people at low cost.</li>
            <li>Different, wider groups of people can participate online</li>
            <li>High quality data gathered validates planning choices
            and helps discussions with the participants.</li>
        </ul>
        </p>
        </div><div>

        <h3 class="orange">Why maps?</h3>
        <p>
        <ul>
            <li>Almost all information has a geographical dimension,
            but it is very difficult to describe it in purely verbal
            terms.
            <ul><li>Imagine being in a new town without a map. How
            long a textual guide would you need to find your way
            around?</li></ul>
        </li>
        <li>Maptionnaire was born from the realization that
        questionnaire tools without a map are unusable for
        questions starting with <i>“Where ...?”</i></li>
        </ul>
        </p>
        </div><div>

        <h3 class="orange">Mapita’s solution: map based questionnaires</h3>
        <p>
        With Maptionnaire you can build different kinds of survey pages:
        <ul>
            <li>Basic forms to classify respondents.
            <ul><li><i>Age? Gender? Car ownership?</i></li></ul>
            </li>
            <li>Interactive map to draw points, lines, and areas.
            <ul><li><i> Where would you locate new residential construction? Which
                    places are perfect and should not be touched? Where does your kid
            love to play? </i></li></ul>
            </li>
        <li>Slider tools to question preferences and attitudes and to group respondents.</li>
       
       
        </ul>
        </p>
        </div>
    </div>
    <div class="span5">
        <small>Screenshot from a questionnaire</small>
        <img src="/static/img/ayk_screenshot.png" />
    </div>

</div> <!-- end row -->
<div class="row">
    <div class="span7 offset1">
        <h3 class="orange">How does one get a map based questionnaire?</h3>
       
        <p>
        You create it yourself with Maptionnaire!
        <ul>
            <li>It is easy-to-use, highly visual, and requires no special
            computer skills.
            </li>
            <li>Everything happens in the cloud, so no installation of
            new programs is needed.</li>
            <li>Our pricing is based on the size of the organization and
            the amount of surveys – just ask a quote for a year or for
            a project license.</li>
        </ul>
        </p>
        <h3 class="orange">What about the response data?</h3>
       
        <p>
        <ul>
            <li>For beginners, we provide a browser tool for basic
            analysis and visualization.
            </li>
            <li>For more advanced research, the data may be
            downloaded in formats supported by all major GIS
            software.
            </li>
            <li>In addition, Maptionnaire draws many of the most
            common charts with a single click.
            </li>
        </ul>
        </p>
        <p>
        Try it out at <a href="http://demo.mapita.fi/">our Demo site!</a>
        </p>
    </div>
    <div class="span5">
        <small>Screenshot from the questionnaire creation tool</small>
        <img src="/static/img/screenshot_questionnaire_admin.png" />
    </div>
</div> <!-- end row -->

</div>

{% endblock %}
