{% extends 'base.html' %}
{% load i18n %}
{% get_current_language as LANGUAGE %}
{% block content %}
<div class="references">
<div class="row">
    <div class="span11 offset1">
        <h2 class="purple">{% trans "Customers" %}</h2>
    <p>
    {% blocktrans %}We cherish every opportunity to help organize inspiring resident participation.
The quality and usability of gathered information is of great importance to us, and we aim to remain permanently one step ahead.
In addition to the list below we have carried out a lot of peer reviewed research ourselves.{% endblocktrans %}

    </p>
    <br />
        <div class="customer-projects">
<table class="customer-projects">
    <tr class="customer-row-first">
        <td class="customer-date">{% trans "When" %}</td>
        <td class="customer-name">{% trans "Who" %}</td>
        <td class="customer-service">{% trans "What (In Finnish)" %}</td>
    </tr>
    <tr class="customer-row">
        <td class="customer-date">05/2014</td>
        <td class="customer-name">Pirkanmaan liitto</td>
        <td class="customer-service">Kysely Pirkanmaan alueen kulttuuriin ja virkistykseen liittyvistä paikoista</td>
    </tr>
    <tr class="customer-row customer-row-even">
        <td class="customer-date">05/2014</td>
        <td class="customer-name">Hyvinkään kaupunki</td>
        <td class="customer-service">Maptionnaire -palvelu</td>
    </tr>
    <tr class="customer-row">
        <td class="customer-date">04/2014</td>
        <td class="customer-name">R&T Rakennuspalvelut Oy</td>
        <td class="customer-service">Maptionnaire -palvelu</td>
    </tr>
    <tr class="customer-row customer-row-even">
        <td class="customer-date">03/2014</td>
        <td class="customer-name">HEUREKA</td>
        <td class="customer-service">Tulevaisuuden kaupunki -karttakyselyn suunnittelu ja toteutus</td>
    </tr>
    <tr class="customer-row">
        <td class="customer-date">03/2014</td>
        <td class="customer-name">Ghent University, Belgium</td>
        <td class="customer-service">Landscape values survey</td>
    </tr>
    <tr class="customer-row customer-row-even">
        <td class="customer-date">03/2014</td>
        <td class="customer-name">Turun yliopisto</td>
        <td class="customer-service">Maptionnaire -palvelu</td>
    </tr>
    <tr class="customer-row">
        <td class="customer-date">03/2014</td>
        <td class="customer-name">Riihimäen kaupunki</td>
        <td class="customer-service">Maptionnaire -palvelu</td>
    </tr>
    <tr class="customer-row customer-row-even">
        <td class="customer-date">02/2014</td>
        <td class="customer-name">Lahden kaupunki</td>
        <td class="customer-service">Maptionnaire -palvelu</td>
    </tr>
    <tr class="customer-row">
        <td class="customer-date">01/2014</td>
        <td class="customer-name">Tuusulan kaupunki</td>
        <td class="customer-service">Rykmentinpuiston havainnekuvien kommentointikysely</td>
    </tr>
    <tr class="customer-row customer-row-even">
        <td class="customer-date">01/2014</td>
        <td class="customer-name">Vaasan kaupunki</td>
        <td class="customer-service">Maptionnaire -palvelu</td>
    </tr>
    <tr class="customer-row">
        <td class="customer-date">01/2014</td>
        <td class="customer-name">Universidad Autónoma de Querétaro</td>
        <td class="customer-service">Por un Querétaro sin miedo</td>
    </tr>
    <tr class="customer-row customer-row-even">
        <td class="customer-date">12/2013</td>
        <td class="customer-name">Pohjois-Karjalan liitto</td>
        <td class="customer-service">Maptionnaire -palvelu</td>
    </tr>
    <tr class="customer-row">
        <td class="customer-date">12/2013</td>
        <td class="customer-name">University of Salzburg</td>
        <td class="customer-service">Maptionnaire -palvelu</td>
    </tr>
    <tr class="customer-row customer-row-even">
        <td class="customer-date">12/2013</td>
        <td class="customer-name">WSP-Finland</td>
        <td class="customer-service">Maptionnaire -palvelu</td>
    </tr>
    <tr class="customer-row">
        <td class="customer-date">11/2013</td>
        <td class="customer-name">Oulun yliopiston maantieteen laitos</td>
        <td class="customer-service">Väitöskirjatutkimus kansallispuistojen luontoarvoista</td>
    </tr>
    <tr class="customer-row customer-row-even">
        <td class="customer-date">11/2013</td>
        <td class="customer-name">Helsingin kaupunki</td>
        <td class="customer-service">Helsinki 2050 - yleiskaavan asukaskysely</td>
    </tr>
    <tr class="customer-row">
        <td class="customer-date">10/2013</td>
        <td class="customer-name">MIG Ltd</td>
        <td class="customer-service">Maptionnaire</td>
    </tr>
    <tr class="customer-row customer-row-even">
        <td class="customer-date">10/2013</td>
        <td class="customer-name">Metsähallitus</td>
        <td class="customer-service">Maptionnaire</td>
    </tr>
    <tr class="customer-row">
        <td class="customer-date">10/2013</td>
        <td class="customer-name">Vaasan kaupunki</td>
        <td class="customer-service">Raviradan ideakilpailusivusto</td>
    </tr>
    <tr class="customer-row customer-row-even">
        <td class="customer-date">10/2013</td>
        <td class="customer-name">Aalto-yliopiston Maankäyttötieteiden laitos</td>
        <td class="customer-service">Maptionnaire</td>
    </tr>
    <tr class="customer-row">
        <td class="customer-date">10/2013</td>
        <td class="customer-name">Aalto-yliopisto</td>
        <td class="customer-service">Maankäyttötieteiden laitoksen liikkumispäiväkirja-kysely</td>
    </tr>
    <tr class="customer-row customer-row-even">
        <td class="customer-date">10/2013</td>
        <td class="customer-name">University of Tehran</td>
        <td class="customer-service">Väitöskirjatutkimusta</td>
    </tr>
    <tr class="customer-row">
        <td class="customer-date">09/2013</td>
        <td class="customer-name">Technische Universität München</td>
        <td class="customer-service">Maptionnaire</td>
    </tr>
    <tr class="customer-row customer-row-even">
        <td class="customer-date">09/2013</td>
        <td class="customer-name">Turun kaupunki</td>
        <td class="customer-service">Maptionnaire</td>
    </tr>
    <tr class="customer-row">
        <td class="customer-date">09/2013</td>
        <td class="customer-name">Hyvinkään kaupunki</td>
        <td class="customer-service">Hangonsillan kaavaluonnoksen sähköinen kommentointi</td>
    </tr>
    <tr class="customer-row customer-row-even">
        <td class="customer-date">09/2013</td>
        <td class="customer-name">Faculdade de Motricidade Humana‐Universidade de Lisboa (FMH‐ULisboa)</td>
        <td class="customer-service">Maptionnaire</td>
    </tr>
    <tr class="customer-row">
        <td class="customer-date">08/2013</td>
        <td class="customer-name">Metsähallitus</td>
        <td class="customer-service">Sipoonkorven hoito- ja käyttösuunnitelman luonnoksen kommentointi (2. vaihe)</td>
    </tr>
    <tr class="customer-row customer-row-even">
        <td class="customer-date">08/2013</td>
        <td class="customer-name">Aalto-yliopisto</td>
        <td class="customer-service">Enjustess-tutkimushankkeen kysely</td>
    </tr>
    <tr class="customer-row">
        <td class="customer-date">08/2013</td>
        <td class="customer-name">Aalto Yliopistokiinteistöt Oy</td>
        <td class="customer-service">Otaniemen liikkumistapakysely</td>
    </tr>
    <tr class="customer-row customer-row-even">
        <td class="customer-date">08/2013</td>
        <td class="customer-name">Oregon State Parks</td>
        <td class="customer-service">Columbia River Gorge -kansallispuiston kävijäkysely</td>
    </tr>
    <tr class="customer-row">
        <td class="customer-date">08/2013</td>
        <td class="customer-name">Kirkkonummen kunta</td>
        <td class="customer-service">Maptionnaire</td>
    </tr>
    <tr class="customer-row customer-row-even">
        <td class="customer-date">06/2013</td>
        <td class="customer-name">Kehitysvammaliitto</td>
        <td class="customer-service">Kehitysvammaisten asumiskysely</td>
    </tr>
    <tr class="customer-row">
        <td class="customer-date">06/2013</td>
        <td class="customer-name">Strafica Oy</td>
        <td class="customer-service">Maptionnaire</td>
    </tr>
    <tr class="customer-row customer-row-even">
        <td class="customer-date">04/2013</td>
        <td class="customer-name">Universidade Federal do Rio Grande do Sul</td>
        <td class="customer-service">Maptionnaire</td>
    </tr>
    <tr class="customer-row">
        <td class="customer-date">04/2013</td>
        <td class="customer-name">HSL</td>
        <td class="customer-service">Länsimetron liityntäkysely</td>
    </tr>
    <tr class="customer-row customer-row-even">
        <td class="customer-date">04/2013</td>
        <td class="customer-name">Nurmijärven kunta</td>
        <td class="customer-service">Maptionnaire</td>
    </tr>
    <tr class="customer-row">
        <td class="customer-date">04/2013</td>
        <td class="customer-name">Kauhajoen kaupunki</td>
        <td class="customer-service">Senioriväestön asumistoiveet</td>
    </tr>
    <tr class="customer-row customer-row-even">
        <td class="customer-date">04/2013</td>
        <td class="customer-name">Kirkkonummen kunta</td>
        <td class="customer-service">Keskustan osayleiskaavan asukaskysely</td>
    </tr>
    <tr class="customer-row">
        <td class="customer-date">04/2013</td>
        <td class="customer-name">Kirkkonummen kunta</td>
        <td class="customer-service">Arkkitehtuuripoliittisen ohjelman asukaskysely</td>
    </tr>
    <tr class="customer-row customer-row-even">
        <td class="customer-date">03/2013</td>
        <td class="customer-name">Kirkkonummen kunta</td>
        <td class="customer-service">Länsi-Jorvaksen asemakaavan asukaskysely</td>
    </tr>
    <tr class="customer-row">
        <td class="customer-date">01/2013</td>
        <td class="customer-name">Kouvolan kaupunki</td>
        <td class="customer-service">Maptionnaire</td>
    </tr>
    <tr class="customer-row customer-row-even">
        <td class="customer-date">01/2013</td>
        <td class="customer-name">Mäntsälän kunta</td>
        <td class="customer-service">Maptionnaire</td>
    </tr>
    <tr class="customer-row">
        <td class="customer-date">12/2012</td>
        <td class="customer-name">MIG Ltd.</td>
        <td class="customer-service">St Louis keskusta-alueen käyttäjätutkimus</td>
    </tr>
    <tr class="customer-row customer-row-even">
        <td class="customer-date">10/2012</td>
        <td class="customer-name">Kouvolan kaupunki</td>
        <td class="customer-service">Viheraluekysely</td>
    </tr>
    <tr class="customer-row">
        <td class="customer-date">08/2012</td>
        <td class="customer-name">Porvoon kaupunki</td>
        <td class="customer-service">Kevätlaakson osayleiskaava</td>
    </tr>
    <tr class="customer-row customer-row-even">
        <td class="customer-date">06/2012</td>
        <td class="customer-name">Joensuun kaupunki</td>
        <td class="customer-service">Viherkaavatyön kaksivaiheinen asukaskysely</td>
    </tr>
    <tr class="customer-row">
        <td class="customer-date">05/2012</td>
        <td class="customer-name">Metsähallitus</td>
        <td class="customer-service">Sipoonkorven hoito- ja käyttösuunnitelman ohjelmointivaiheen ksyely (1.vaihe)</td>
    </tr>
    <tr class="customer-row customer-row-even">
        <td class="customer-date">04/2012</td>
        <td class="customer-name">Hyvinkään kaupunki</td>
        <td class="customer-service">Hangonsillan ideakilpailun arviointisivusto</td>
    </tr>
    <tr class="customer-row">
        <td class="customer-date">03/2012</td>
        <td class="customer-name">Tuusulan kaupunki</td>
        <td class="customer-service">Rykmentinpuiston osa-yleiskaavaluonnoksen kommentointi</td>
    </tr>
    <tr class="customer-row customer-row-even">
        <td class="customer-date">02/2012</td>
        <td class="customer-name">Kouvolan kaupunki</td>
        <td class="customer-service">Keskustavision asukaskysely</td>
    </tr>
    <tr class="customer-row">
        <td class="customer-date">01/2012</td>
        <td class="customer-name">Hyvinkään kaupunki</td>
        <td class="customer-service">Hangonratapihan ideakilpailu - lähtöaineiston kerääminen</td>
    </tr>
</table>
        </div>

    </div>
</div>

</div>

{% endblock %}
