{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<div class="paikka">
<div class="row">
    <div class="span11 offset1">
        <h2 class="purple">{% trans "Products and services" %}</h2>
    </div>
    <div class="span7 offset1">
        <div>
            <p>
            <a href='http://maptionnaire.com' target='_blank'>Maptionnaire</a>
            {% trans "is a cloud service for map based online surveys. Maptionnaire comes with an easy-to-use editor tool for the creation of surveys and analysis of respondent data. In addition, our team has a long background in peer-reviewed survey research and we offer consultation for successful data collection." %}
            </p>
        </div>
        <h4 class="orange">{% trans "Buy it!" %}</h4>
        <div>
            <p>
            {% trans "Most of our customers choose an annual subscription, which includes an unlimited number of questionnaires, but it is also possible to buy the service for a single project." %}
            </p>

        </div> 
        <div>
            <h4 class="orange">{% trans "Try it!" %}</h4>
            <p>
            {% trans "The best way to get a feeling what Maptionnaire is like is to" %}
            <a href='http://maptionnaire.com/register/' target='_blank'>
                {% trans "Sign up for a test account" %}
            </a>
            {% trans "and start creating questionnaires immediately." %}
            {% trans "In addition, our" %}
            <a href='https://docs.google.com/document/d/1RSl7iEcc_z8yMNc7h34v8kUwFZoiPV--qi50rBEfarU/pub' target='_blank'>
                {% trans "User Guide" %}
            </a>
            {% trans "offers more technical details." %}
            {% trans "And last but not least, we would love to hear more about your needs: so please" %}
            <a href='/about-us/'>
                {% trans "call us!" %}
            </a>
            </p>
        </div> 
        <div>
            <h4 class="orange">{% trans "Why maps?" %}</h4>
            <p>
            <ul>
                <li>
                {% trans "Almost all information has a geographical dimension, but it is very difficult to describe it in purely verbal terms." %}
                <ul>
                    <li>
                        {% trans "Imagine being in a new town without a map. How long a textual guide would you need to find your way around?" %}
                    </li>
                    <li>
                        {% trans "Map is required when you need to ask" %} <i>“{% trans "Where ...?" %}”</i>
                    </li>
                    <li>
                        {% trans "Maptionnaire combines an interactive map with traditional questionnaire forms" %}
                    </li>
                </ul>
                </li>
            </ul>
            </p>
        </div>
        <div>
            <h4 class="orange">{% trans "Why online participation?" %}</h4>
            <p>
            <ul>
                <li>{% trans "Online tools allow the participation of thousands of people at low cost." %}</li>
                <li>{% trans "Bringing participants together is time consuming and expensive, and only a handful of people get to have their say." %}</li>
                <li>{% trans "Various, wider groups of people can participate online." %}</li>
                <li>{% trans "Possible to locate places, routes, and areas with high precision." %}</li>
                <li>{% trans "Digital coordinates enable efficient analysis and visualizations." %}</li>
            </ul>
            </p>
        </div>
    </div>
</div>

{% endblock content %}
