{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<div class="paikka">
<div class="row">
    <div class="span11 offset1">
        <h2 class="purple">{% trans "Products and services" %}</h2>
    </div>
    <div class="span7 offset1">
        <div>
            <p>
            <a href='http://maptionnaire.com' target='_blank'>Maptionnaire</a>
            {% trans "is a cloud service for map based online surveys. Maptionnaire comes with an easy-to-use editor tool for the creation of surveys and analysis of respondent data. In addition, our team has a long background in peer-reviewed survey research and we offer consultation for successful data collection!" %}
            </p>
        </div>
        <div>
            <p>
            {% trans "Most of our customers choose an annual subscription, which includes an unlimited number of questionnaires, but it is also possible to buy the service for a single project." %}
            </p>

        </div> 
        <h4 class="orange">{% trans "Try it!" %}</h4>
        <div>
            <p>
            {% trans "The best way to get a feeling what Maptionnaire is like is to" %}
            <a href='http://maptionnaire.com/register/' target='_blank'>
                {% trans "Sign up for a test account" %}
            </a>
            {% trans "and start creating questionnaires immediately." %}
            {% trans "In addition, our" %}
            <a href='https://docs.google.com/document/d/1RSl7iEcc_z8yMNc7h34v8kUwFZoiPV--qi50rBEfarU/pub' target='_blank'>
                {% trans "User Guide" %}
            </a>
            {% trans "offers more technical details." %}
            {% trans "And last but not least, we would love to get" %}
            <a href='/about-us/'>
                {% trans "phone call" %}
            </a>
            {% trans "from you!" %}
            </p>
        </div> 
    </div>
</div>

{% endblock content %}
