{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% get_current_language as LANGUAGE %}
{% block content %}
<div class="row">
    <div class="span11 offset1">
    <h2 class="purple">{% trans 'Customer projects' %}</h2>
    <p>
    {% trans "Mapita has had the privilege of working with a number of customers." %}
    {% trans "We have been involved in their projects from the beginning to the end, and designed highly customized research for their needs." %}
    </p>
    <p>
        {% trans "Have a look and get inspired!" %}
    <br />
    <div class="project-cards">
    {% if LANGUAGE == 'fi' %}
        <div class="project-card">
            <a href="{% static "pdf/PkHelsinki2050_fi.pdf" %}" target="_blank">
                <img src="{% static "img/thumbs/PkHelsinki2050_fi_thumb.png" %}" alt="Helsinki 2050-kysely" title="Helsinki 2050-kysely" height="252" width="280"/>
            </a>
        </div>
        <div class="project-card">
            <a href="{% static "pdf/Sipoonkorpi_fi.pdf" %}" target="_blank">
                <img src="{% static "img/thumbs/Sipoonkorpi_fi_thumb.png" %}" alt="Sipoonkorpi" title="Sipoonkorpi" height="252" width="280"/>
            </a>
        </div>
        <div class="project-card">
            <a href="{% static "pdf/Ideakilpailun_tyot_fi.pdf" %}" target="_blank">
                <img src="{% static "img/thumbs/Ideakilpailuntyot_fi_thumb.png" %}" alt="Ideakilpailun työt asukkaiden arvioitaviksi" title="Ideakilpailun työt asukkaiden arvioitaviksi" height="252" width="280"/>
            </a>
        </div>
        <div class="project-card">
            <a href="{% static "pdf/Kasarmeista_fi.pdf" %}" target="_blank">
                <img src="{% static "img/thumbs/Kasarmeista_fi_thumb.png" %}" alt="Kasarmista asuinalueeksi" title="Kasarmista asuinalueeksi" height="252" width="280"/>
            </a>
        </div>
        <div class="project-card">
            <a href="{% static "pdf/Kevatlaakso_fi.pdf" %}" target="_blank">
                <img src="{% static "img/thumbs/Kevatlaakso_fi_thumb.png" %}" alt="Kevätlaaksoa kaavoitetaan liikkumiseen" title="Kevätlaaksoa kaavoitetaan liikkumiseen" height="252" width="280"/>
            </a>
        </div>
        <div class="project-card">
            <a href="{% static "pdf/Aaltokampus_fi.pdf" %}" target="_blank">
                <img src="{% static "img/thumbs/Aaltokampus_fi_thumb.png" %}" alt="Kiinteistöyritys kartoitti kampusaluetta" title="Kiinteistöyritys kartoitti kampusaluetta" height="252" width="280"/>
            </a>
        </div>
        <div class="project-card">
            <a href="{% static "pdf/Hangonsilta_fi.pdf" %}" target="_blank">
                <img src="{% static "img/thumbs/Hangonsilta_fi_thumb.png" %}" alt="Osallistavaa suunnittelua Hyvinkäällä" title="Osallistavaa suunnittelua Hyvinkäällä" height="252" width="280"/>
            </a>
        </div>
        <div class="project-card">
            <a href="{% static "pdf/Teheran_fi.pdf" %}" target="_blank">
                <img src="{% static "img/thumbs/Teheran_fi_thumb.png" %}" alt="Teheranilaisteinit käyttivät Maptionnairea persiaksi" title="Teheranilaisteinit käyttivät Maptionnairea persiaksi" height="252" width="280"/>
            </a>
        </div>
        <div class="project-card">
            <a href="{% static "pdf/Joensuu_fi.pdf" %}" target="_blank">
                <img src="{% static "img/thumbs/Joensuu_fi_thumb.png" %}" alt="Viherkaavavisiot kartalle" title="Viherkaavavisiot kartalle" height="252" width="280"/>
            </a>
        </div>
        <div class="project-card">
            <a href="{% static "pdf/HKIvesistot_fi.pdf" %}" target="_blank">
                <img src="{% static "img/thumbs/HKIvesistot_fi_thumb.png" %}" alt="Yliopistossa tutkittiin vesistöjen virkistyskäyttöä" title="Yliopistossa tutkittiin vesistöjen virkistyskäyttöä" height="252" width="280"/>
            </a>
        </div>
        <div class="project-card">
            <a href="{% static "pdf/Riihimaki_fi.pdf" %}" target="_blank">
                <img src="{% static "img/thumbs/Riihimaki_fi_thumb.png" %}" alt="Rakennemalli yleiskaavatyön pohjana" title="Rakennemalli yleiskaavatyön pohjana" height="252" width="280"/>
            </a>
        </div>
        <div class="project-card">
            <a href="{% static "pdf/Kirkkonummi_fi.pdf" %}" target="_blank">
                <img src="{% static "img/thumbs/Kirkkonummi_fi_thumb.png" %}" alt="" title="" height="252" width="280"/>
            </a>
        </div>
        <div class="project-card">
            <a href="{% static "pdf/YouthMap_fi.pdf" %}" target="_blank">
                <img src="{% static "img/thumbs/YouthMap_fi_thumb.png" %}" alt="" title="" height="252" width="280"/>
            </a>
        </div>
        <div class="project-card">
            <a href="{% static "pdf/Portugali_fi.pdf" %}" target="_blank">
                <img src="{% static "img/thumbs/Portugali_fi_thumb.png" %}" alt="" title="" height="252" width="280"/>
            </a>
        </div>
    {% else %}
        <div class="project-card">
            <a href="{% static "pdf/en/PkHelsinki2050_en.pdf" %}" target="_blank">
                <img src="{% static "img/thumbs/en/PkHelsinki2050_en_thumb.png" %}" alt="" title="" height="252" width="280"/>
            </a>
        </div>
        <div class="project-card">
            <a href="{% static "pdf/en/Sipoonkorpi_en.pdf" %}" target="_blank">
                <img src="{% static "img/thumbs/en/Sipoonkorpi_en_thumb.png" %}" alt="" title="" height="252" width="280"/>
            </a>
        </div>
        <div class="project-card">
            <a href="{% static "pdf/en/Ideakilpailun_tyot_en.pdf" %}" target="_blank">
                <img src="{% static "img/thumbs/en/Ideakilpailuntyot_en_thumb.png" %}" alt="" title="" height="252" width="280"/>
            </a>
        </div>
        <div class="project-card">
            <a href="{% static "pdf/en/Kasarmeista_en.pdf" %}" target="_blank">
                <img src="{% static "img/thumbs/en/Kasarmeista_en_thumb.png" %}" alt="" title="" height="252" width="280"/>
            </a>
        </div>
        <div class="project-card">
            <a href="{% static "pdf/en/Kevatlaakso_en.pdf" %}" target="_blank">
                <img src="{% static "img/thumbs/en/Kevatlaakso_en_thumb.png" %}" alt="" title="" height="252" width="280"/>
            </a>
        </div>
        <div class="project-card">
            <a href="{% static "pdf/en/Aaltokampus_en.pdf" %}" target="_blank">
                <img src="{% static "img/thumbs/en/Aaltokampus_en_thumb.png" %}" alt="" title="" height="252" width="280"/>
            </a>
        </div>
        <div class="project-card">
            <a href="{% static "pdf/en/Hangonsilta_en.pdf" %}" target="_blank">
                <img src="{% static "img/thumbs/en/Hangonsilta_en_thumb.png" %}" alt="" title="" height="252" width="280"/>
            </a>
        </div>
        <div class="project-card">
            <a href="{% static "pdf/en/Teheran_en.pdf" %}" target="_blank">
                <img src="{% static "img/thumbs/en/Teheran_en_thumb.png" %}" alt="" title="" height="252" width="280"/>
            </a>
        </div>
        <div class="project-card">
            <a href="{% static "pdf/en/Joensuu_en.pdf" %}" target="_blank">
                <img src="{% static "img/thumbs/en/Joensuu_en_thumb.png" %}" alt="" title="" height="252" width="280"/>
            </a>
        </div>
        <div class="project-card">
            <a href="{% static "pdf/en/HKIvesistot_en.pdf" %}" target="_blank">
                <img src="{% static "img/thumbs/en/HKIvesistot_en_thumb.png" %}" alt="" title="" height="252" width="280"/>
            </a>
        </div>
        <div class="project-card">
            <a href="{% static "pdf/en/Riihimaki_en.pdf" %}" target="_blank">
                <img src="{% static "img/thumbs/en/Riihimaki_en_thumb.png" %}" alt="" title="" height="252" width="280"/>
            </a>
        </div>
        <div class="project-card">
            <a href="{% static "pdf/en/Kirkkonummi_en.pdf" %}" target="_blank">
                <img src="{% static "img/thumbs/en/Kirkkonummi_en_thumb.png" %}" alt="" title="" height="252" width="280"/>
            </a>
        </div>
        <div class="project-card">
            <a href="{% static "pdf/en/YouthMap_en.pdf" %}" target="_blank">
                <img src="{% static "img/thumbs/en/YouthMap_en_thumb.png" %}" alt="" title="" height="252" width="280"/>
            </a>
        </div>
        <div class="project-card">
            <a href="{% static "pdf/en/Portugali_en.pdf" %}" target="_blank">
                <img src="{% static "img/thumbs/en/Portugali_en_thumb.png" %}" alt="" title="" height="252" width="280"/>
            </a>
        </div>
    {% endif %}
    </div>
</div>

</div>

{% endblock %}
