{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% get_current_language as LANGUAGE %}
{% block content %}
<div class="row">
    <div class="span11 offset1">
    <h2 class="purple">{% trans 'Asiakasprojekteja' %}</h2>
    <p>
        {% trans 'Mapitalla on ollut ilo tehdä töitä lukuisien asiakkaiden kanssa. Toimintamme vuosiin mahtuu monta onnistunutta tarinaa.' %}
    </p>
    <p>
    {% blocktrans %}
        Olemme suunnitelleet asiakkaille juuri heidän tarpeisiinsa vastaavia kyselytutkimuksia ja olleet
        hankkeissa mukana alusta loppuun saakka. Olemme analysoineet kiehtovia vastausaineistoja ja
        tarttuneet innolla teknologian uusiin mahdollisuuksiin. Palvelumme on taipunut myös
        havainnekuvien esittelyyn ja ideakilpailun palautesivuston luomiseen. Asiakkaat eri
        maissa ovat käyttäneet Maptionnairea myös itsenäisesti kyselytutkimuksen tekoon.
    {% endblocktrans %}
    </p>
    <p>
        {% trans 'Tutustu asiakastöihimme ja Maptionnairelle tehtyihin tutkimuksiin!' %}
    <br />
    <div class="project-cards">
    {% if LANGUAGE == 'fi' %}
        <div class="project-card">
            <a href="{% static "pdf/Helsinki 2050-kysely.pdf" %}" target="_blank">
                <img src="{% static "img/thumbs/Tuhannet_ideoivat_tulevaisuuden_Helsinkiä_thumb.png" %}" alt="Helsinki 2050-kysely" title="Helsinki 2050-kysely" height="266" width="199"/>
            </a>
        </div>
        <div class="project-card">
            <a href="{% static "pdf/Sipoonkorpi.pdf" %}" target="_blank">
                <img src="{% static "img/thumbs/Paikallistietämystä_luonnonpuiston_kehitystyöhön_thumb.png" %}" alt="Sipoonkorpi" title="Sipoonkorpi" height="266" width="199"/>
            </a>
        </div>
        <div class="project-card">
            <a href="{% static "pdf/Ideakilpailun_työt_asukkaiden_arvioitaviksi.pdf" %}" target="_blank">
                <img src="{% static "img/thumbs/Ideakilpailun_työt_asukkaiden_arvioitaviksi_thumb.png" %}" alt="Ideakilpailun työt asukkaiden arvioitaviksi" title="Ideakilpailun työt asukkaiden arvioitaviksi" height="266" width="199"/>
            </a>
        </div>
        <div class="project-card">
            <a href="{% static "pdf/Kasarmista_asuinalueeksi_(Tuusula).pdf" %}" target="_blank">
                <img src="{% static "img/thumbs/Kasarmista_asuinalueeksi_(Tuusula)_thumb.png" %}" alt="Kasarmista asuinalueeksi" title="Kasarmista asuinalueeksi" height="266" width="199"/>
            </a>
        </div>
        <div class="project-card">
            <a href="{% static "pdf/Kevätlaaksoa_kaavoitetaan_liikkumiseen_(Porvoo).pdf" %}" target="_blank">
                <img src="{% static "img/thumbs/Kevätlaaksoa_kaavoitetaan_liikkumiseen_(Porvoo)_thumb.png" %}" alt="Kevätlaaksoa kaavoitetaan liikkumiseen" title="Kevätlaaksoa kaavoitetaan liikkumiseen" height="266" width="199"/>
            </a>
        </div>
        <div class="project-card">
            <a href="{% static "pdf/Kiinteistöyritys_kartoitti_kampusaluetta.pdf" %}" target="_blank">
                <img src="{% static "img/thumbs/Kiinteistöyritys_kartoitti_kampusaluetta_thumb.png" %}" alt="Kiinteistöyritys kartoitti kampusaluetta" title="Kiinteistöyritys kartoitti kampusaluetta" height="266" width="199"/>
            </a>
        </div>
        <div class="project-card">
            <a href="{% static "pdf/Osallistavaa_suunnittelua_Hyvinkäällä_(Hangonsilta).pdf" %}" target="_blank">
                <img src="{% static "img/thumbs/Osallistavaa_suunnittelua_Hyvinkäällä_thumb.png" %}" alt="Osallistavaa suunnittelua Hyvinkäällä" title="Osallistavaa suunnittelua Hyvinkäällä" height="266" width="199"/>
            </a>
        </div>
        <div class="project-card">
            <a href="{% static "pdf/Teheranilaisteinit_käyttivät_Maptionnairea_persiaksi.pdf" %}" target="_blank">
                <img src="{% static "img/thumbs/Teheran_thumb.png" %}" alt="Teheranilaisteinit käyttivät Maptionnairea persiaksi" title="Teheranilaisteinit käyttivät Maptionnairea persiaksi" height="266" width="199"/>
            </a>
        </div>
        <div class="project-card">
            <a href="{% static "pdf/Viherkaavavisiot_kartalle_(Joensuu).pdf" %}" target="_blank">
                <img src="{% static "img/thumbs/Viherkaavavisiot_kartalle_thumb.png" %}" alt="Viherkaavavisiot kartalle" title="Viherkaavavisiot kartalle" height="266" width="199"/>
            </a>
        </div>
        <div class="project-card">
            <a href="{% static "pdf/Yliopistossa_tutkittiin_vesistöjen_virkistyskäyttöä_(Aalto)1.pdf" %}" target="_blank">
                <img src="{% static "img/thumbs/Yliopistossa_tutkittiin_vesistöjen_virkistyskäyttöä_thumb.png" %}" alt="Yliopistossa tutkittiin vesistöjen virkistyskäyttöä" title="Yliopistossa tutkittiin vesistöjen virkistyskäyttöä" height="266" width="199"/>
            </a>
        </div>
        <div class="project-card">
            <a href="{% static "pdf/Riihimäki.pdf" %}" target="_blank">
                <img src="{% static "img/thumbs/Rakennemalli_yleiskaavatyön_pohjana_thumb.png" %}" alt="Rakennemalli yleiskaavatyön pohjana" title="Rakennemalli yleiskaavatyön pohjana" height="266" width="199"/>
            </a>
        </div>
    {% else %}
        <div class="project-card">
            <a href="{% static "pdf/en/Academic research on recreational water use (Aalto).pdf" %}" target="_blank">
                <img src="{% static "img/thumbs/en/Academic_research_on_thumb.png" %}" alt="" title="" height="266" width="199"/>
            </a>
        </div>
        <div class="project-card">
            <a href="{% static "pdf/en/Designing a campus for cycling and walking (Aalto).pdf" %}" target="_blank">
                <img src="{% static "img/thumbs/en/Designing_a_campus_for_cycling_and_walking_(Aalto)_thumb.png" %}" alt="" title="" height="266" width="199"/>
            </a>
        </div>
        <div class="project-card">
            <a href="{% static "pdf/en/Improving_a_national_park_with_local_insight(1).pdf" %}" target="_blank">
                <img src="{% static "img/thumbs/en/Improving_a_national_park_with_local_insight_thumb.png" %}" alt="" title="" height="266" width="199"/>
            </a>
        </div>
        <div class="project-card">
            <a href="{% static "pdf/en/Mapping_out_ideas.pdf" %}" target="_blank">
                <img src="{% static "img/thumbs/en/Mapping_out_ideas_thumb.png" %}" alt="" title="" height="266" width="199"/>
            </a>
        </div>
        <div class="project-card">
            <a href="{% static "pdf/en/Participatory_planning_for_a_new_residential_area.pdf" %}" target="_blank">
                <img src="{% static "img/thumbs/en/Participatory_planning_for_a_new_residential_area_thumb.png" %}" alt="" title="" height="266" width="199"/>
            </a>
        </div>
        <div class="project-card">
            <a href="{% static "pdf/en/Seven_Model_Structures_with_Maptionnaire.pdf" %}" target="_blank">
                <img src="{% static "img/thumbs/en/Seven_Model_Structures_with_Maptionnaire_thumb.png" %}" alt="" title="" height="266" width="199"/>
            </a>
        </div>
        <div class="project-card">
            <a href="{% static "pdf/en/TehranEn.pdf" %}" target="_blank">
                <img src="{% static "img/thumbs/en/Tehrani_teenagers_used_Maptionnaire_in_Farsi_thumb.png" %}" alt="" title="" height="266" width="199"/>
            </a>
        </div>
        <div class="project-card">
            <a href="{% static "pdf/en/Thousands envisioned the future of Helsinki.pdf" %}" target="_blank">
                <img src="{% static "img/thumbs/en/Thousands_envisioned_the_future_of_Helsinki_thumb.png" %}" alt="" title="" height="266" width="199"/>
            </a>
        </div>
        <div class="project-card">
            <a href="{% static "pdf/en/TuusulaEn.pdf" %}" target="_blank">
                <img src="{% static "img/thumbs/en/Tuusula_thumb.png" %}" alt="" title="" height="266" width="199"/>
            </a>
        </div>
        <div class="project-card">
            <a href="{% static "pdf/en/Urban planning for smooth transportation.pdf" %}" target="_blank">
                <img src="{% static "img/thumbs/en/Urban_planning_for_smooth_thumb.png" %}" alt="" title="" height="266" width="199"/>
            </a>
        </div>
        <div class="project-card">
            <a href="{% static "pdf/en/VaasaArchitecturalEn.pdf" %}" target="_blank">
                <img src="{% static "img/thumbs/en/VaasaArchitectural_thumb.png" %}" alt="" title="" height="266" width="199"/>
            </a>
        </div>
    {% endif %}
    </div>
</div>

</div>

{% endblock %}
