{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<div class="paikka">
<div class="row">
    <div class="span11 offset1">
        <h2 class="purple">{% trans "What makes Maptionnaire different" %}</h2>
    </div>
    <div class="span7 offset1">
        <div>
            <h4 class="orange">{% trans "Example questionnaires" %}</h4>
            <p>
            <ul>
                <li>
                <a href="http://esimerkki1.asiatkartalle.fi/" target="_new">{% trans "Resident survey for the master plan of Helsinki" %}</a>
                </li>
                <!--<li>
                <a href="" target="_new">{% trans "Evaluation of future plan alternatives for the district of Rykmentinpuisto in the city of Tuusula." %}</a>
                </li>
                <li>
                <a href="" target="_new">{% trans "Survey for the evaluation of coastal areas in Helsinki" %}</a>
                </li>-->
            </ul>
            </p>
        </div>
        <div>
            <h4 class="orange">{% trans "Why maps?" %}</h4>
            <p>
            <ul>
                <li>
                {% trans "Almost all information has a geographical dimension, but it is very difficult to describe it in purely verbal terms." %}
                <ul><li>{% trans "Imagine being in a new town without a map. How long a textual guide would you need to find your way around?" %}</li></ul>
                </li>
                <li>
                {% trans "Maptionnaire was born from the realization that questionnaire tools without a map are unusable for questions starting with" %} <i>“{% trans "Where ...?" %}”</i>
                </li>
            </ul>
            </p>
        </div>
        <div>
            <h4 class="orange">{% trans "What do questionnaires have to do with participatory planning?" %}</h4>

            <p>
            {% trans "From an urban planner’s point of view, participation is often driven by questions: you need to know what the locals know, and the best way to find out is to ask them." %}
            </p>
            <p style="padding-left:20px;">
            <i>{% trans "Where are the most cherished places? Where is a connection needed? Which areas need renovation? Where do people feel unsafe?..." %} </i>
            </p>
        </div>
        <div>
            <h4 class="orange">{% trans "Why not only face to face?" %}</h4>
            <p>
            <ul>
                <li>{% trans "Bringing residents together at workshops is time consuming and expensive, and only a handful of people get to have their say." %}</li>
                <li>{% trans "In contrast, online tools allow the participation of thousands of people at low cost." %}</li>
                <li>{% trans "Different, wider groups of people can participate online" %}</li>
                <li>{% trans "High quality data gathered validates planning choices and helps discussions with the participants." %}</li>
            </ul>
            </p>
        </div>
    </div>
</div>

{% endblock content %}
