{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<div class="paikka">
<div class="row">
    <div class="span11 offset1">
        <h2 class="purple">{% trans "What makes Maptionnaire different" %}</h2>
    </div>
    <div class="span7 offset1">
        <div>
            <h4 class="orange">{% trans "Example questionnaires" %}</h4>
            <p>
            <ul>
                <li>
                <a href="http://esimerkki1.asiatkartalle.fi/" target="_new">{% trans "Resident survey for the master plan of Helsinki" %}</a>
                </li>
                <!--<li>
                <a href="" target="_new">{% trans "Evaluation of future plan alternatives for the district of Rykmentinpuisto in the city of Tuusula." %}</a>
                </li>
                <li>
                <a href="" target="_new">{% trans "Survey for the evaluation of coastal areas in Helsinki" %}</a>
                </li>-->
            </ul>
            </p>
        </div>
        <div>
    </div>
</div>

{% endblock content %}
